<div *ngIf="status===statusType.READY" class="start-btn">
  <button class="btn btn btn-warning" (click)="status = statusType.RUNNING">Розпочати тест</button>
</div>
<div class="container">
  <div class="col-xl-12">
    <div *ngIf="status===statusType.RUNNING" class="question-box">
      <div class="current-question">
        {{currentQuestion + 1}}/{{questions.length}} запитання
      </div>
      <div class="question-wrapper">
        <div class="question">{{questions[currentQuestion].question}}:</div>
        <br>
        <label class="answers radio" *ngFor="let variant of questions[currentQuestion].variants;let i=index" (click)="choseRadio(i)">
          <input (click)="choseRadio(i)" [value]="i" name="answer" type="radio">
          <div class="radio__text">{{i + 1}}) {{variant.text}}</div>
        </label>
      </div>
      <button (click)="confirmAnswer()" *ngIf="!isLastQuestion()" class="btn btn-primary">Наступне запитання</button>
      <button (click)="switchToFinished()" *ngIf="isLastQuestion()" class="btn-success finish-btn">Завершити</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xl-12">
    <div *ngIf="status===statusType.FINISHED">
      <div class="score">Тест завершено! Кількість балів: {{countScore()}}</div>
      <div class="repeat-btn">
        <button (click)="repeatTest()" class="btn btn-warning">Пройти ще раз</button>
      </div>   
      <table class="table table-hover">
        <tr>
          <th scope="col" class="th1">Запитання</th>
          <th scope="col" class="th2">Обрана відповідь</th>
          <th scope="col" class="th3">Найкраща відповідь</th>
          <th scope="col" class="th4">Порада</th>
        </tr>
        <tr *ngFor="let question of questions">
          <td>{{question.question}}:</td>
          <td>{{question.variants[question.chose].text}}</td>
          <td>{{getCorrectAnswer(question.variants)}}</td>
          <td>{{question.hint}}</td>
        </tr>
      </table>
      <br>
      <div class="result">
          Висновок: {{getResult(countScore())}}
      </div>
    </div>
  </div>
</div>

