/* You can add global styles to this file, and also import other style files */
.start-btn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn button {
    font-size: 40px;
}

.question-box {
    margin-top: 50px;
}

.current-question {
    font-size: 22px;
    margin-bottom: 15px;
}

.question-wrapper {
    margin-bottom: 30px;
}

.question {
    font-weight: bold;
    font-size: 18px;
}

.answers {
    display: block;
}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-size: 17px;
}
.radio__text:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio__text:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #9FD468;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.radio input:checked + .radio__text:after {
    opacity: 1;
}
.radio input:focus + .radio__text:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}

.finish-btn {
    font-size: 22px;
    cursor: pointer;
    border-radius: 4px;
}

.score {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
}

.repeat-btn {
    text-align: center;
    margin: 25px 0;
}

.th1, .th2, .th3 {
    width: 20%;
}

.th4 {
    width: 40%;
}

.result {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 600;
}
